{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Willkommen bei Otto-ui v0.1!</h2>
   <div class="alert alert-info">
    Otto-ui v0.1 ist ein neuartiger, kognitiv unterstützter Planungsassistent. Im Kern steht das Konzept **COS – Cognitive Orchestrated Scheduling**:  
Ein flexibles, KI-gestütztes System zur Erkennung, Strukturierung und Weiterverarbeitung von Aufgaben, Meetings, Entscheidungen und Verantwortlichkeiten – automatisch, nachvollziehbar, assistierend. Otto wird primäre über den ChatGPT Chat genutzt. Die UI dient lediglich dazu dem System zu assistieren. 
   </div>
</div>
{% endblock %}